<nav class="navbar">
    <div class="navbar-container">
        <div class="navbar-brand">
            <a href="{{ url_for('main.index') }}">ApproveThis</a>
        </div>
        
        <div class="navbar-menu">
            <a href="{{ url_for('main.index') }}" class="navbar-item">Dashboard</a>
            <a href="{{ url_for('jobs.index') }}" class="navbar-item">Jobs</a>
        </div>
        
        <div class="navbar-end">
            {% include 'components/_user_menu.html' %}
        </div>
    </div>
</nav>
